@font-face {
    font-family: 'Roboto Flex';
    src: url('./assets/fonts/Karla-Italic-VariableFont_wght.ttf') format('woff2-variations');
    src: url('./assets/fonts/Karla-VariableFont_wght.ttf') format('woff2') tech('variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

:root {
    --white: hsl(0, 0%, 100%);
    --Light-Green: hsl(148, 38%, 91%);
    --Green: hsl(169, 82%, 27%);
    --Red: hsl(0, 66%, 56%);
    --Medium-Grey: hsl(186, 15%, 59%);
    --Dark-Grey: hsl(187, 24%, 22%);
    --Fontsize: 16px;
    --font-family: 'Roboto Flex';
}

html {
    font-family: var(--font-family);
    font-size: var(--Fontsize);
}

main {
    background-color: var(--Light-Green);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background: var(--white);
    border-radius: 20px;
    padding: 25px;
    width: 100%;
    max-width: 600px;
    margin: 2px auto;
}

.required {
    color: var(--Green);
}

.form-label {
    font-size: var(--Fontsize) !important;
    font-family: var(--font-family) !important;
}

.form-control {
    border-color: var(--Medium-Grey) !important;
    padding: .60rem .75rem !important;
    font-size: var(--Fontsize) !important;
    font-family: var(--font-family);
    cursor: pointer;
}

.form-check-input {
    cursor: pointer;
}

.form-check-input:focus {
    border-color: var(--Green) !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: var(--Green) !important;
    box-shadow: none !important;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(assets/images/icon-radio-selected.svg);
    background-image: url(assets/images/icon-radio-selected.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;

}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url(assets/images/icon-checkbox-check.svg);
    background-image: url(assets/images/icon-checkbox-check.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
}

.form-check-input:checked[type=checkbox] {
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.form-check-input:checked[type=radio] {
    border: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

#consent {
    column-gap: 12px;
}

.submitBtn {
    background-color: var(--Green) !important;
    color: var(--white) !important;
}

.error-message {
    color: var(--Red);
}
.success-Card{
    display: flex;
    position: absolute;
    top: 30px;
    left: 0;
    align-items: center;
    justify-content: center;
}
.message{
    background-color: var(--Dark-Grey);
    color: var(--white);
    padding: 19px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px
}

@media screen and (max-width: 768px) {
    .bg {
        max-width: 400px !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 428px) {
    .bg {
        max-width: 300px !important;
        width: 100% !important;
    }

    #consent {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
}